<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
#parse("/layout/static.vm")  
<title>Legend</title>
</head>
<body>
	<div id="header">
		#parse("/layout/header.vm")
    </div>
    <div id="body" style="margin: 40px;min-height: 700px;">
		$screen_content
	</div>
	<div id="bottom">
		#parse("/layout/bottom.vm")
    </div>
</body>
</html>